@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
/* Job description dark mode fix */
.dark .job-description * {
  background-color: transparent !important;
  color: inherit !important;
}

.dark .job-description a {
  color: #60a5fa !important;
}

@variant dark (&:where(.dark, .dark *));

@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}
